.layout {
  border: 1px solid black;
  margin: 0 auto;
  width: min-content;
  display: grid;
  grid-template-columns: max-content 250px;
  gap: 2rem;
}

.project-tabs {
  display: flex;
  flex-direction: column;
  width: max-content;
}